<span ng-if="error">Movie not created {{ error }}</span>
<span ng-if="success">Update was successful</span>

<form ng-submit="processForm()" >
	<label for="title">Título</label>
	<input id="title" name="title" type="text" ng-model="formData.title" required/>
	<br />

	<label for="poster">Cartel</label>
	<input id="poster" name="title" type="url" ng-model="formData.poster" />
	<br />

	<fieldset>
	<legend>Directores</legend>
	<button ng-click="formData.directors.push('')">Agregar director</button><br />
	<!-- see https://docs.angularjs.org/error/ngRepeat/dupes -->
	<span ng-repeat="director in formData.directors track by $index">
		<input name="director{{$index}}" type="text" ng-model="formData.directors[$index]" placeholder="Ramdom Randomson"/>
		<button ng-click="formData.directors.splice($index,1)">Eliminar director</button><br />
	</span>
	</fieldset>


	<fieldset>
	<legend>Guionistas</legend>
	<button ng-click="formData.writers.push('')">Agregar guionista</button><br />
	<span ng-repeat="writer in formData.writers track by $index">
		<input name="writers{{$index}}" type="text" placeholder="Ramdom Randomson" />
		<button ng-click="formData.writers.splice($index,1)">Eliminar guionista</button><br />
	</span>
	</fieldset>


	<fieldset>
	<legend>Intérpretes</legend>
	<button ng-click="formData.performers.push('')">Agregar intérprete</button><br />
	<span ng-repeat="performer in formData.performers track by $index">
		<input name="performers{{$index}}" type="text" />
		<button ng-click="formData.performers.splice($index,1)">Eliminar intérprete</button><br />
	</span>
	</fieldset>


	<fieldset>
	<legend>Paises</legend>
	<button ng-click="formData.countries.push('')">Agregar país</button><br />
	<span ng-repeat="countries in formData.countries track by $index">
		<input name="countries{{$index}}" type="text" />
		<button ng-click="formData.countries.splice($index,1)">Eliminar país</button><br />
	</span>
	</fieldset>


	<label for="runtime">Duración</label>
	<input id="runtime" name="runtime" type="number" ng-model="formData.runtime" min="0" />
	<br />


	<label for="year">Año</label>
	<input id="year" name="year" type="number" ng-model="formData.year" min="1890" />
	<br />


	<label for="vo">Versión original</label>
	<input id="vo" name="vo" type="text" ng-model="formData.vo" />
	<br />


	<label for="sub">Subtítulos</label>
	<input id="sub" name="sub" type="text" ng-model="formData.sub" />
	<br />


	<fieldset>
	<legend>Horarios</legend>
	<button ng-click="formData.dates.push(''); dates.push({})">Agregar fecha</button><br />
	<span ng-repeat="date in formData.dates track by $index">
		<input name="date" type="date" ng-model="dates[$index].date" required/>
		<input name="time" type="time" ng-model="dates[$index].time" required/>
	</span>
	<pre>{{formData.dates}}</pre>
	<pre>{{dates}}</pre>
	</fieldset>


	<label for="dore_notes">Notas del cine</label>
	<textarea id="dore_notes" name="dore_notes" ng-model="formData.dore_notes" placeholder="Las notas que ponen en el programa." ></textarea>
	<br />


	<label for="plot">Argumento</label>
	<textarea id="plot" name="plot" ng-model="formData.plot" placeholder="Algo más concreto que las notas que ponen en el programa." ></textarea>
	<br />


	<input type="submit" />
	<button ng-if="deleteMovie" ng-click="deleteMovie(formData._id)">Eliminar</button>
	<a href="/">Movie list</a>
</form>
